body {
  color: #000;
  width: 1440px;
  font-family: Garamond;
  margin-left: 200px;
}

.burger {
  display: none;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4 {
  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

.container {
  max-width: 1350px;
  margin: 0 auto;
}

.logo {
  cursor: pointer;
}

/* header */
.header-line {
  display: flex;
  align-items: center;
  padding: 24px 0;
}

.header {
  background: #131010;
  width: 1440px;
}

.one-row-heade {
  display: flex;
  align-items: center;
}

.nav-header {
  margin-left: 150px;
}

.nav-header ul {
  display: flex;
  list-style: none;
}

.nav-header ul li a.active {
  color: #fff;
}

.nav-header ul li a {
  color: rgba(255, 255, 255, 0.6156862745);
  margin-left: 30px;
  transition: 0.2s ease;
  font-size: 20px;
}

.nav-header ul li a:hover {
  color: #fff;
}

.header-line__end {
  display: flex;
  align-items: center;
  margin-left: 100px;
  color: #fff;
}

.header-line__end p {
  margin-left: 15px;
}

/* block */
.block {
  background-image: url("../img-2/work-open.png");
  width: 1440px;
  height: 380px;
  background-repeat: no-repeat;
  position: relative;
}

.block-content {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.block-content img {
  position: absolute;
  bottom: 100px;
  cursor: pointer;
}

.block-content p {
  font-size: 24px;
  font-weight: 400;
  text-align: center;
  color: #fff;
  top: 40%;
  width: 900px;
  position: absolute;
}

.title {
  font-size: 40px;
  position: absolute;
  top: 20%;
  color: #fff;
  font-weight: 700;
  text-transform: uppercase;
}

.content {
  background-color: #1a1919;
  padding: 80px 80px;
}

.content-container {
  display: flex;
  margin-top: 30px;
}

.content-item {
  margin-right: 80px;
}

.footer {
  background-color: #131010;
  padding: 80px 110px;
}

.footer-content {
  display: flex;
  justify-content: space-between;
}

.nav-footer ul {
  list-style: none;
}

.nav-footer ul li a {
  margin-top: 20px;
  font-size: 20px;
  color: rgba(255, 255, 255, 0.7254901961);
  display: inline-block;
  position: relative;
}

.nav-footer ul li a::after {
  content: "";
  width: 100%;
  height: 2px;
  position: absolute;
  bottom: -5px;
  left: 0;
  opacity: 0;
  background-color: #fff;
  transition: opacity 0.2s ease-in;
}

.nav-footer-two ul {
  list-style: none;
}

.nav-footer-two ul li a {
  margin-top: 40px;
  font-size: 20px;
  color: #fff;
  display: block;
}

.nav-footer ul li a:hover:after {
  opacity: 1;
}

.footer-seti {
  display: flex;
}

.footer-seti img {
  margin-right: 15px;
  display: block;
}

.footer-seti {
  margin-top: 25px;
}

.center-footer {
  color: #fff;
  font-size: 20px;
  text-align: center;
  margin-right: 100px;
}

.nav-footer ul li a.active {
  color: #ffffff;
}

@media (max-width: 440px) {
  header {
    margin-left: -6px;
  }
  html {
    overflow-x: hidden;
  }
  body {
    overflow: hidden;
    margin-left: 0px;
    width: 380px;
  }
  .logo {
    z-index: 10;
    margin-left: 35px;
  }
  .burger {
    position: relative;
    width: 40px;
    height: 30px;
    background: transparent;
    cursor: pointer;
    display: block;
    margin: 0 15px;
  }
  .burger input {
    display: none;
  }
  .burger span {
    display: block;
    z-index: 10;
    position: absolute;
    height: 2px;
    width: 25px;
    background: rgb(255, 255, 255);
    border-radius: 9px;
    opacity: 1;
    left: 0;
    transform: rotate(0deg);
    transition: 0.25s ease-in-out;
  }
  .burger span:nth-of-type(1) {
    top: 20%;
    transform-origin: left center;
  }
  .burger span:nth-of-type(2) {
    top: 60%;
    transform: translateY(-50%);
    transform-origin: left center;
  }
  .burger span:nth-of-type(3) {
    top: 100%;
    transform-origin: left center;
    transform: translateY(-100%);
  }
  .burger input:checked ~ span:nth-of-type(1) {
    transform: rotate(45deg);
    top: 10px;
    left: 5px;
  }
  .burger input:checked ~ span:nth-of-type(2) {
    width: 0%;
    opacity: 0;
  }
  .burger input:checked ~ span:nth-of-type(3) {
    transform: rotate(-45deg);
    top: 28px;
    left: 5px;
  }
  .header-line__end p {
    display: none;
  }
  .nav-header {
    background: #131010;
    position: absolute;
    top: 0;
    z-index: 8;
    width: 380px;
    left: -40px;
    height: 0;
    margin-left: 0;
    transition: 0.3s ease;
  }
  .nav-header.open {
    height: 505px;
  }
  .nav-header ul li a {
    margin-left: -28px;
    display: block;
    margin-top: 30px;
    text-align: center;
  }
  .link-none {
    display: none;
  }
  .one-row-heade {
    z-index: 10;
    background-color: #000000;
    width: 380px;
    margin-left: -40px;
  }
  .nav-header ul {
    flex-direction: column;
    margin-top: 70px;
  }
  .header-line-contant {
    position: absolute;
    z-index: 9;
  }
  .header-line {
    display: flex;
  }
  .header-line__end {
    position: absolute;
    right: 50px;
    top: 35px;
    z-index: 8;
  }
  .title {
    font-size: 24px;
    left: 30px;
    top: 40%;
    width: 290px;
    font-weight: 400;
  }
  .block-content p {
    top: 50%;
    width: 257px;
    font-size: 16px;
  }
  .block {
    width: 380px;
  }
  .block-content img {
    bottom: 20px;
    left: 45%;
  }
  .content {
    padding: 40px 27px;
  }
  .content-item img {
    width: 150px;
    height: 130px;
  }
  .content-item {
    margin-right: 20px;
  }
  .footer {
    padding: 60px 30px;
    position: relative;
  }
  .footer-content {
    flex-direction: column;
  }
  .footer-right {
    position: absolute;
    right: 30px;
    top: 60px;
  }
  .logo-footer {
    position: absolute;
    top: 20px;
    left: 110px;
  }
  .nav-footer ul li a {
    margin-top: 15px;
  }
  .nav-footer-two ul li a {
    margin-top: 25px;
  }
}/*# sourceMappingURL=work-open.css.map */